.App {
  text-align: center;
}

a[type=menu] {
  color: #FFF;
}
a:hover[type=menu] {
   color: rgb(209, 209, 209)
}
a:link{
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.link:link {
  text-decoration: none;
}
.link:visited {
  text-decoration: none;
}
.link {
  color: #FFF;
}
.link:hover {
   color: rgb(201, 201, 201);
}
